# tests/.clang-tidy
Checks: >
  *,
  -altera-unroll-loops,
  -altera-struct-pack-align,
  -bugprone-easily-swappable-parameters,
  -cert-err58-cpp,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-avoid-goto,
  -cppcoreguidelines-init-variables,
  -cppcoreguidelines-pro-type-member-init,
  -fuchsia-statically-constructed-objects,
  -fuchsia-default-arguments-calls,
  -fuchsia-default-arguments-calls,
  -hicpp-member-init,
  -hicpp-use-equals-default,
  -llvmlibc-*,
  -misc-non-private-member-variables-in-classes,
  -cppcoreguidelines-owning-memory,
  -cppcoreguidelines-avoid-non-const-global-variables,
  -modernize-use-equals-default,
  -modernize-use-trailing-return-type,
  -readability-identifier-length,
  -readability-magic-numbers,
  -hicpp-avoid-goto